#image-track {
    display: flex;
    gap: 4vmin;
    position: relative; 
    left: 1%;
    top: 40%;
    transform: translate(0%, -50%);
    user-select: none;
    will-change: transform;
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    
  }
  
  .image-scrollbar {
    cursor: default; 
    }
  #image-track > .image {
    width: 40vmin; 
    height: 56vmin; 
    max-width: 438px;
    max-height: 605px;
    object-fit: cover;
    object-position: 100% center;
    cursor: pointer;
    transition: object-position 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  @media (max-width: 768px) {
    #image-track > .image {
      width: 50vmin;
      height: 70vmin;
      max-width: 438px;
      max-height: 605px;
    }
    .image-scrollbar {
      margin-top: 20px !important;
      height: 12px !important;
  }
}
  @media (max-width: 699px) and (max-width: 501px) {
    #image-track > .image {
      width: 65vmin;
      height: 85vmin;
      max-width: 438px;
      max-height: 605px;
    }
    .image-scrollbar {
      margin-top: 20px !important;
      height: 12px !important;
  }
}
  @media (max-width: 500px) {
    #image-track > .image {
      width: 60vmin;
      height: 125vmin;
      max-width: 438px;
      max-height: 605px;
    }
    .image-scrollbar {
      margin-top: 20px !important;
      height: 12px !important;
  }
}

