#image-track {
    display: flex;
    gap: 4vmin;
    position: relative; 
    left: 1%;
    top: 40%;
    transform: translate(0%, -50%);
    user-select: none;
    will-change: transform;
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    max-width: 100%; 
  }
  .image-scrollbar {
    cursor: default; 
    }
  #image-track > .image {
    width: 40vmin; 
    height: 56vmin; 
    object-fit: cover;
    object-position: 100% center;
    cursor: pointer;
    transition: object-position 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  @media (max-width: 768px) {
    #image-track > .image {
      width: 50vmin;
      height: 70vmin;
    }
  }
