@font-face {
  font-family: 'Roserita';
  src: url('/public/fonts/Roseritta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scrollbar-color: #382e2d rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.homepage-content {
  flex: 1; 
}

.home-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #382e2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.header-nav {
  display: flex;
  width: 800px;
  position: absolute;
  right: -200px;
}

.nav-button {
  text-decoration: none;
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: regular;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 17px;
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: black;
}

.video-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(202, 197, 190, 0.54); */
  z-index: 1;
}

.overlay-image {
  position: absolute;
  display: relative;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 133vw; /* Constrain to viewport width */
  max-height: 133vh;
  object-fit: contain;
  z-index: 2;
  transition: all 0.3s ease;
}

.text-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw 0;
  margin: 2rem 0;
}

.text-section h2 {
  font-family: kozuka-mincho-pr6n, serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
  padding: 0 5%;
  margin-bottom: 2rem;
  letter-spacing: 0;
  word-spacing: -6px;
  word-wrap: break-word;
}
.text-section h2 span {
  font-size: inherit !important;
}
.text-section h2 br + span {
  font-size: 65px;
  margin-left: -45px;
}

.text-blocks {
  letter-spacing: 0.01px;
  display: flex;
  width: 74%;
  justify-content: center;
  text-align: justify;
  text-align-last: left;
}
.text-blocks-second-row {
  letter-spacing: 0.01px;
  display: flex;
  width: 74%;
  justify-content: center;
  text-align: justify;
  text-align-last: left;
}
.text-block {
  width: 45%;
  padding: 20px;
}

.text-block1 {
  width: 45%;
  padding: 20px;
  margin-top: -9.7px;
}

.text-block2 {
  width: 45%;
  padding: 20px;
  margin-top: -33px;
}

.text-block p, 
.text-block1 p, 
.text-block2 p {
  flex: 1 1 300px;
  padding: 0rem;
  font-size: 17px;
  line-height: 1.2;
  font-family: 'Mukta Mahee', sans-serif;
}

.span1 {
  width: 50%;
  color: rgb(120, 70, 59);
}

.span2 {
  display: block;
  width: 100%;
  color: rgb(120, 70, 59);
}

.homepage-content {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviews-block {
  width: 100%;
    background-color: #e7e4e1;
    padding: 60px 0;
}

.reviews-title {
  font-family: kozuka-mincho-pr6n, serif;
  font-size: 45px;
  font-weight: bold;
  color: #382e2d;
  text-align: center;
  margin: 0 0 0px 0;
}

/* Watwedoen Block Styles */
.watwedoen-block {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  align-items: stretch;
  justify-content: center; /* Center the block horizontally */
  gap: 100px;
}

.watwedoen-image {
  flex: 0 0 calc(50vw - 250px);
  height: 100%;
  padding: 75px 0px 75px 100px;
  display: flex;
  align-items: center;
}

.watwedoen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.watwedoen-content {
  flex: 0 0 calc(50vw - 15px);
  height: 100%;
  padding: 75px 250px 75px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.watwedoen-title {
  font-family: kozuka-mincho-pr6n, serif;
  font-size: 45px;
  font-weight: normal;
  text-align: center;
  color: #382e2d;
  line-height: 1.2;
  margin-bottom: 25px;
}

.watwedoen-text {
  font-size: 17px;
  font-family: 'Arial', sans-serif;
  text-align: justify;
  margin-bottom: 15px;
  line-height: 1.2;
}

.watwedoen-button {
  background-color: #382e2d;
  color: white;
  font-size: 17px;
  font-family: 'Mukta Mahee', sans-serif;
  padding: 8px 25px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  align-self: center;
}

.watwedoen-button:hover {
  color: black;
}
@media (max-width: 1920px) {
  .watwedoen-image {
    padding: 75px 0px 75px 25px;
  }

  .watwedoen-content {
    padding: 75px 50px 75px 0px;
  }
}

@media (max-width: 1600px) {
  .watwedoen-image {
    padding: 75px 0px 75px -25px;
  }

  .watwedoen-content {
    padding: 75px 0px 75px 0px;
  }
}

@media (max-width: 1400px) {
  .watwedoen-image {
    padding: 75px 0px 75px -75px;
  }

  .watwedoen-content {
    padding: 75px -50px 75px 0px;
  }
}
/* Responsive Styles */
@media (max-width: 1550px) {
  .watwedoen-block {
    flex-direction: column;
    height: auto;
  }

  .watwedoen-image,
  .watwedoen-content {
    flex: none;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .watwedoen-image {
    padding: 50px;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -90px
  }
  .watwedoen-content {
    padding: 20px;
    margin-bottom: 50px;
  }

  .watwedoen-title {
    font-size: 32px;
  }

  .watwedoen-text {
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
  }
}

@media (max-width: 933px) {
.text-section {
  height: auto;
  padding: 40px 20px;
  margin-top: 20px;
}

.text-section h2 {
  font-size: 32px;
  line-height: 1.2;
  word-spacing: normal;
}

.text-blocks,
.text-blocks-second-row {
  flex-direction: column;
  width: 100%;
}

.text-block,
.text-block1,
.text-block2 {
  width: 100%;
  padding: 10px;
  margin-top: 0;
}

.text-block p,
.text-block1 p,
.text-block2 p {
  font-size: 16px;
}
}
@media (max-width: 768px) {

  .overlay-image {
    max-width: 200vw; 
    max-height: 200vh
  }

  .watwedoen-image {
    padding: 20px;
    margin-bottom: -90px;
    height: 80vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews-block {
    padding: 40px 0;
  }

  .reviews-title {
    margin-bottom: 20px;
  }

  .projecten-title {
    font-size: 28px;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .text-section h2 {
    font-size: 28px;
  }
  .watwedoen-image {
    padding: 20px;
    height: 60vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .projecten-title,
  .reviews-title {
    font-size: 24px;
  }
  
}