
@font-face {
  font-family: 'Roserita'; 
  src: url('/public/fonts/Roseritta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  scrollbar-color: rgb(120, 70, 59) rgba(0, 0, 0, 0);
  width: 100%;
  overflow-x: hidden;
}

.home {
  text-align: center;
  height: 100%;
}

.homepage-content {
  background-color: white; 
  height: 7500px;
  width: 100%;
  display: flex;
 
}

.text-section {
  width: 100vw;
  height: 625px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.text-section h2 {
  font-family: 'Roserita', sans-serif;
  font-weight: normal;
  font-size: 65px;
  margin-bottom: 20px;
  letter-spacing: 0; 
  word-spacing: -6px;
  line-height: 1.5;
}

.text-section h2 br + span {
  font-size: 65px;
  margin-left: -45px;
}

.text-blocks {
  letter-spacing: 0.01px;
  display: flex;
  width: 74%;
  justify-content: space-between;
}

.text-block {
  text-align: left;
  width: 50%;
  padding: 20px;
}

.text-block1 {
  text-align: left;
  width: 50%;
  padding: 20px;
  margin-top: -9.7px;
} 

.text-block2 {
  text-align: left;
  width: 50%;
  padding: 20px;
  margin-top: -58px;
}

.span1 {
  width: 50%;
  color: rgb(120, 70, 59);
}

.span2 {
  display: block;
  width: 50%;
  color: rgb(120, 70, 59);
}

.text-block p, .text-block1 p, .text-block2 p {
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: regular;

}

.home-header {
  position: sticky; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: rgb(202, 197, 190); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  z-index: 1000; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 800px; 
  position: absolute;
  right: 40px; 
}

.nav-button {
  text-decoration: none;
  color: white;
  font-family: 'Mukta Mahee', sans-serif; 
  font-weight: regular;
  font-size: 32px;
  text-transform: uppercase;
  padding: 25px;
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: rgb(94, 47, 38); 
}

.home-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.image-container {
  position: relative; 
  width: 100vw;
  height: 860px; 
  background-image: url('/public/images/main2.png'); 
  background-size: cover; 
  background-position: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 197, 190, 0.54); 
  z-index: 1; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 2;
}

.projecten-block {
  height: 800px;
  width: 100%;
  background-color: rgb(202, 197, 190);
  overflow: hidden;
  background-color: rgb(202, 197, 190);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.projecten-title {
  font-family: 'Roserita', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  word-spacing: -6px;
}