@font-face {
  font-family: 'Roserita';
  src: url('/public/fonts/Roseritta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scrollbar-color: #382e2d rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.homepage-content {
  flex: 1; 
}

.home-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #382e2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.header-nav {
  display: flex;
  width: 800px;
  position: absolute;
  right: -200px;
}

.nav-button {
  text-decoration: none;
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: regular;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 17px;
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: black;
}

.image-container {
  position: relative;
  width: 100vw;
  height: 860px;
  background-image: url('/public/images/main2.png');
  background-size: cover;
  background-position: center;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 197, 190, 0.54);
  z-index: 1;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.text-section {
  width: 100vw;
  height: 625px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
}

.text-section h2 {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 65px;
  margin-bottom: 20px;
  letter-spacing: 0;
  word-spacing: -6px;
  line-height: 1.5;
  word-wrap: break-word;
}
.text-section h2 span {
  font-size: inherit !important;
}
.text-section h2 br + span {
  font-size: 65px;
  margin-left: -45px;
}

.text-blocks {
  letter-spacing: 0.01px;
  display: flex;
  width: 74%;
  justify-content: space-between;
  text-align: justify;
  text-align-last: left;
}
.text-blocks-second-row {
  letter-spacing: 0.01px;
  display: flex;
  width: 74%;
  justify-content: space-between;
  text-align: justify;
  text-align-last: left;
}
.text-block {
  width: 50%;
  padding: 20px;
}

.text-block1 {
  width: 50%;
  padding: 20px;
  margin-top: -9.7px;
}

.text-block2 {
  width: 50%;
  padding: 20px;
  margin-top: -58px;
}

.text-block p, 
.text-block1 p, 
.text-block2 p {
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: regular;
}

.span1 {
  width: 50%;
  color: rgb(120, 70, 59);
}

.span2 {
  display: block;
  width: 100%;
  color: rgb(120, 70, 59);
}

.homepage-content {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projecten-block {
  height: 850px;
  width: 100%;
  background-color: #382e2d;
  overflow: hidden;
  
}

.projecten-title {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 60px;
  word-spacing: -6px;
}

.reviews-block {
  height: 600px;
  width: 100%;
  background-color: #e7e4e1;
  overflow: hidden;
}

.reviews-title {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #382e2d;
  margin-top: 50px;
  word-spacing: -6px;
}

.watwedoen-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
  padding: 20px;
  margin-right: 100px;
  margin-bottom: 110px;
}

.watwedoen-image {
  width: 35%;
  height: 81%;
  position: relative;
  margin-left: 100px;
  max-width: 100%; 
  max-height: 1000px; 
}

.watwedoen-image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  max-width: 100%;
  max-height: 100%; 
}

.watwedoen-content {
  width: 50%;
  text-align: left;
  position: relative;
  padding-left: 0px;
  padding-right: 50px;
}

.watwedoen-title {
  font-family: 'Roserita', sans-serif;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  color: #382e2d;
  letter-spacing: -4px;
  line-height: 1.5;
  margin-top: -20px;
}

.watwedoen-text {
  font-size: 18px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  line-height: 1.6;
}

.watwedoen-button {
  background-color: #382e2d;
  color: white;
  font-size: 20px;
  font-family: 'Mukta Mahee', sans-serif;
  padding: 15px 30px;
  border: none;
  width: fit-content;
  text-decoration: none;
  margin-top: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; 
  margin-left: auto;
  margin-right: auto; 
}
/* .watwedoen-button {
  width: 36%;
  margin-top: 40px;
  padding: 12px 20px;
  font-size: 16px;
} */
.watwedoen-button:hover {
  color: black
}

@media (max-width: 1200px) {
  .image-container {
    height: 70vh;
  }

  .text-section h2 {
    font-size: 50px;
  }

  .watwedoen-title {
    font-size: 40px;
  }
  .watwedoen-button {
    width: fit-content;
    margin-top: 40px;
    padding: 12px 20px;
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .image-container {
    height: 50vh;
  }
  .watwedoen-block {
    flex-direction: column;
    margin: 30px 0;
    padding: 0 20px;
  }

  .watwedoen-image {
    width: 100%;
    margin: 0;
    height: 75vh;
  }

  .watwedoen-content {
    width: 100%;
    padding: 20px 0;
  }

  .watwedoen-title {
    font-size: 28px;
    line-height: 1.3;
    margin-top: 20px;
  }

  .watwedoen-text {
    font-size: 16px;
  }

  .watwedoen-button {
    width: fit-content;
    margin-top: 40px;
    padding: 12px 20px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .image-container {
    height: 50vh;
  }

  .overlay-image {
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
  }

  .text-section {
    height: auto;
    padding: 40px 20px;
    margin-top: 20px;
  }

  .text-section h2 {
    font-size: 32px;
    line-height: 1.2;
    word-spacing: normal;
  }

  .text-blocks,
  .text-blocks-second-row {
    flex-direction: column;
    width: 100%;
  }

  .text-block,
  .text-block1,
  .text-block2 {
    width: 100%;
    padding: 10px;
    margin-top: 0;
  }

  .text-block p,
  .text-block1 p,
  .text-block2 p {
    font-size: 16px;
  }

 
  .reviews-block {
    height: auto;
    padding: 40px 0;
  }

  .watwedoen-block {
    flex-direction: column;
    margin: 30px 0;
    padding: 0 20px;
  }

  .watwedoen-image {
    width: 100%;
    margin: 0;
    height: 50vh;
  }

  .watwedoen-content {
    width: 100%;
    padding: 20px 0;
  }

  .watwedoen-title {
    font-size: 28px;
    line-height: 1.3;
    margin-top: 20px;
  }

  .watwedoen-text {
    font-size: 16px;
  }

  .watwedoen-button {
    width: 36%;
    margin-top: 40px;
    padding: 12px 20px;
    font-size: 16px;
  }

  .projecten-title,
  .reviews-title {
    font-size: 28px;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .image-container {
    height: 40vh;
  }

  .overlay-image {
    max-width: 70%;
  }

  .text-section h2 {
    font-size: 28px;
  }

  .watwedoen-title {
    font-size: 24px;
  }

  .projecten-title,
  .reviews-title {
    font-size: 24px;
  }
  .watwedoen-button {
    width: fit-content;
    margin-top: 40px;
    padding: 12px 20px;
    font-size: 16px;
  }
}