#image-track {
    display: flex;
    gap: 4vmin;
    position: relative; /* Changed to relative for better positioning inside the parent */
    left: 1%;
    top: 40%;
    transform: translate(0%, -50%);
    user-select: none;
    will-change: transform;
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    max-width: 100%; /* Prevent overflow */
  }
  .image-scrollbar {
    cursor: default; /* Ensures cursor is not a pointer on the scrollbar */
    }
  #image-track > .image {
    width: 40vmin; /* Adjust width for a better fit */
    height: 56vmin; /* Adjust height accordingly */
    object-fit: cover;
    object-position: 100% center;
    cursor: pointer;
    transition: object-position 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  /* Add responsive adjustments */
  @media (max-width: 768px) {
    #image-track > .image {
      width: 50vmin;
      height: 70vmin;
    }
  }
  