  .projects-content {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 100vw; 
  }

  .middle-section {
    display: grid;
    grid-template-columns: 700px 1fr;
    gap: 10px;
    margin-bottom: 10px;
    height: 1300px;
  }

  .tall-image {
    width: 100%; 
    height: 1300px;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 1300px;
    width: 100%;
    overflow: hidden;
  }

  .top-right-image {
    height: 500px;
    width: 100%;
    min-height: 500px;
    max-height: 500px; 
  }

  .bottom-right-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .top-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .large-image {
    flex: 3;
    height: 700px;
  }
  
  .small-image {
    flex: 1;
    height: 700px;
  }
  
  .full-width-image {
    width: 100%;
    height: 1000px;
    margin-bottom: 10px;
  }
  
  .three-column {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 800px;
  }

  .three-column img:first-child {
    flex: 0.36; 
    height: 100%; 
  }
  
  .three-column img:nth-child(2) {
    flex: 0.32; 
    height: 100%; 
  }
  
  .three-column img:nth-child(3) {
    flex: 0.32;
    height: 100%;  
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }