/* Footer.css */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
  height: auto; 
  padding: 0px 0px;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-logo {
  height: 100px !important; 
  width: auto !important; 
  max-width: 100%; 
  margin-bottom: 25px;
  object-fit: contain;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 24px; 
}

.icon-wrapper {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.info-section {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.info-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #382e2d;
}

.info-bottom {
  display: flex;
  flex-direction: column; 
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 22px;
  gap: 15px;
  align-items: center;
}

.legal-text {
  text-decoration: underline;
  color: inherit;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  text-wrap: pretty; 
  align-items: center;
}
.copyright {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  text-wrap: pretty; 
  align-items: center;
}
@media (min-width: 1240px) {
  .footer-container {
    padding: 50px 20px;
  }

  .footer-logo {
      height: 150px;
  }

  .social-icons {
      gap: 30px;
      margin-bottom: 50px;
  }

  .info-section {
      width: 80%;
      margin: 0 auto;
  }
  .info-top {
      flex-direction: row;
      justify-content: center;
      gap: 68px;
  }
  .info-bottom {
    flex-direction: row;
    justify-content: space-between;
  }

}
@media (min-width: 768px) and (max-width: 1239px) {
  .footer-container {
      padding: 50px 20px;
  }
  
  .footer-logo {
      height: 150px;
  }
  
  .social-icons {
      gap: 30px;
      margin-bottom: 50px;
  }
  
  .info-section {
      width: 80%;
      margin: 0 auto;
  }
  
  .info-top {
      flex-direction: row;
      justify-content: center;
      gap: 80px;
  }
  
  .info-bottom {
      flex-direction: row;
      justify-content: space-between;
  }
  
  .legal-text, .copyright {
      font-size: 14px;
  }
}